<!DOCTYPE html>
<html>
<!--En el Head se encuentra la información de nuestro documento como una breve descripción.
incluyendo enlaces scripts y las hojas de estilos 
-->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="/static/css/estilo.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<!--En el body se establecieron los atributos de nuestra página -->
<body onload="startGame()" >

   <!--Título de nuestro juego --> 
    <h1>JUEGO BLOCK HOPPER</h1>

<br>
  

</body>

<script src="/static/js/index.js"></script>

</html>